h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    color: #ffffff;
}

#one
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #CCCCCC;
}

#two
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #A9A9A9;
}

body
{
    background-image: url("assets/images/bg01.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.container {
  height: 100vh;
  position: relative;
  
  
}

.vertical-center {
  margin:3%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.8;
}

.left {
  display: grid;
  grid-template-columns: 0.8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.icon-strip
{
    position: absolute;
    bottom: 6%;
    left: 3%;
    
}


input[type="email"]
{
    background: transparent;
    border-color: #CCCCCC;
    border-style: groove;
    border-radius: 7px;
    height: 110%;
    color: #ffffff;
}

input[type="button"]
{
    background-color: #1cb495;
    border: none;
    height: 150%;
    color: #ffffff;
    font-weight: bold;
    font-size: 90%;
    border-radius: 5px;
}




